@charset "utf-8";
@import "variables";

@font-face {
  font-family: "fpcFont";
  src: url("./fonts/fpc-font.ttf") format("truetype"); 
}

#{$prefix}-root {
  font-family: "microsoft yahei", "fpcFont", ;
  body {
    font-size: $font-size;
    color: $color;
  }
  /* BEGIN:reset */
  *, *::after, *::before {
    box-sizing: border-box;
  }
  article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }
  body, h1, h2, h3, h4, h5, h6, p, ol, ul, dl {
    margin: 0;
  }
  ul, ol, dl, input, button, textarea {
    padding: 0;
  }
  input, textarea, select, button {
    font:{
      size: $font-size;
      family: "microsoft yahei", "fpcFont";
    }
  }
  input[type="checkbox"] {
    margin: 0;
  }
  ::-webkit-input-placeholder,
  ::-moz-placeholder,
  :-moz-placeholder,
  :-ms-input-placeholder,
  input::input-placeholder {
  　　color: $color;
    font-size: $font-size !important;
    opacity: 1;
  }
  ul, ol {
    list-style: none;
  }
  table {
    border-collapse: collapse;
  }
  a {
    color: $color;
    text-decoration: none;
  }
  /* END：reset */
}
