@charset "utf-8";
@import "variables";

@font-face {
  font-family: "fpcFont";
  src: url("./fonts/fpc-font.ttf") format("truetype"); 
}

#{$prefix}-root {
  font-family: "fpcFont", "microsoft yahei";
  body {
    font-size: $font-size;
    color: $color;
    background: #3C3B27;
  }
  /* BEGIN:reset */
  *, *::after, *::before {
    box-sizing: border-box;
  }
  article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }
  body, h1, h2, h3, h4, h5, h6, p, ol, ul, dl {
    margin: 0;
  }
  ul, ol, dl, input, button, textarea {
    padding: 0;
  }
  ul, ol {
    list-style: none;
  }
  table {
    border-collapse: collapse;
  }
  a {
    color: $color;
    text-decoration: none;
  }
  /* END：reset */
}

