@charset "utf-8";
@import "variables.scss";

#{$prefix} {
  /* BEGIN：页面顶部 */
  &-header {
    width: 100%;
    height: $header-height;
    line-height: $header-height;
    background: $header-bg;
    font-size: 0;
    text-align: center;
  }
  &-system-name {
    float: left;
    color: #FFF;
    font: {
      size: $header-logo-size;
      weight: 400;
    }
  }
  &-region {
    /* BEGIN：小三角 */
    &-caret {
      position: absolute;
      border: $card-caret-width solid $card-caret-bg;
      border-left-color: transparent;
      border-bottom-color: transparent;
      border-top-color: transparent;
      &.top-left {
        top: $card-caret-offset;
        left: $card-caret-offset;
        transform: rotate(45deg);
      }
      &.top-right {
        top: $card-caret-offset;
        right: $card-caret-offset;
        transform: rotate(135deg);
      }
      &.bottom-left {
        bottom: $card-caret-offset;
        left: $card-caret-offset;
        transform: rotate(-45deg);
      }
      &.bottom-right {
        bottom: $card-caret-offset;
        right: $card-caret-offset;
        transform: rotate(-135deg);
      }
    }
    /* END：小三角 */
    /* BEGIN：设置支队和街道的宽度 */
    &-col-4 {
      padding-right: 8px;
      width: 40%;
    }
    &-col-6 {
      position: relative;
      width: 60%;
      padding-top: 4px;
      &::before {
        position: absolute;
        top: -4px;
        left: 15px;
        content: ' ';
        width: 46px;
        border: 4px solid $active-bg;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
      }
      #{$prefix}-region-sub-detail-panel {
        position: relative;
        height: 100%;
        background: $card-body-bg;
        padding: 20px 10px 20px 15px;
        border-radius: 5px;
      }
    }
    /* END：设置支队和街道的宽度 */
    &-scroll {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
    /* BEGIN：区域选择框 */
    &-dropdown {
      position: relative;
      display: inline-block;
      width: $header-dropdown-width;
      vertical-align: -20%;
    }
    &-rel {
      line-height: $header-dropdown-rel-height - 2;
      border: 1px solid $border-color;
      font-size: $header-dropdown-rel-size;
      text-align: center;
      cursor: pointer;
    }
    /* BEGIN：点击后显示内容 */
    &-list {
      position: absolute;
      z-index: 1000;
      top: $header-dropdown-rel-height + 10;
      width: 100%;
      height: $header-dropdown-list-height;
      border: 1px solid $card-border-color;
      padding: 15px;
      box-shadow: $card-shadow;
      background: $card-bg;
      &-item {
        line-height: $header-dropdown-list-item-height - 2;
        padding: 0 10px;
        margin-bottom: 5px;
        border: 1px solid #797979;
        background: $card-head-bg;
        border-radius: 3px;
        font-size: $font-size;
        text-align: left;
        cursor: pointer;
        &:hover,
        &.active {
          background: $header-dropdown-active-bg;
          border-color: $header-dropdown-active-bg;
          color: $active-color;
        }
      }
    }
    /* 总队 */
    &-top {
      position: relative;
      z-index: 10;
      width: 100%;
      line-height: 40px;
      margin-bottom: 10px;
      border-color: #ccc;
      font-size: 13px;
      color: #FFF;
    }
    /* 支队 & 街道 */
    &-sub {
      height: 100%;
      margin-top: -40-2-10px;
      padding-top: 40+2+10px;
      >*{
        float: left;
        height: 100%;
      }
      /* BEGIN：自定义scrollbar */
      ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
      ::-webkit-scrollbar-track {
        width: 20px;
        background: transparent;
      }
      ::-webkit-scrollbar-thumb {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background: #666;
      }
      /* END：自定义scrollbar */
      &-branch,
      &-detail {
        padding-right: 10px !important;
      }
      &-detail {
        padding-left: 5px;
      }
    }
    /* END：点击后显示内容 */
  }
  /* END：区域选择框 */
  /* BEGIN：顶部导航菜单 */
  &-nav {
    float: right;
    margin-right: $header-nav-item-margin*2;
    font-size: 0;
    a {
      display: inline-block;
      vertical-align: middle;
      // height: $header-nav-item-height;
      line-height: $header-nav-item-height - 2;
      padding: 0 $header-nav-item-paddingH;
      margin-right: $header-nav-item-margin;
      border: 1px solid transparent;
      font-size: $header-nav-item-size;
      color: #FFF;
      &:hover {
        border-color: $active-color;
      }
      &.active {
        border-color: $active-bg;
        background: $active-bg;
      }
    }
  }
  /* END：顶部导航菜单 */
  /* END：页面顶部 */

  /* 页面主体内容 */
  &-body {
    #{$prefix}-card {
      width: 100%;
      padding: 10px;
      border: 1px solid $card-border-color;
      box-shadow: $card-shadow;
      background: $card-bg;
      border-radius: 2px;

      &-head {
        width: $card-head-width;
        height: $card-head-height;
        padding: 0 10px;
        line-height: $card-head-height - 2;
        border: 1px solid $border-color;
        font-size: $card-title-size;
        color: $card-title-yellow;
        background: $card-head-bg;
        border-radius: 4px;

        &-icon {
          width: 16px;
          height: 14px;
          margin-right: 10px;
          font-size: 0;
          vertical-align: -2px;
        }
      }
    }
  }
  &-slider {
    
  }
}