@charset "utf-8";
@import "variables.scss";

#{$prefix} {
  /* BEGIN：页面顶部 */
  &-header {
    width: 100%;
    height: $header-height;
    line-height: $header-height;
    background: $header-bg;
    font-size: 0;
    text-align: center;
  }
  &-system-name {
    float: left;
    color: #FFF;
    font: {
      size: $header-logo-size;
      weight: 400;
    }
  }
  /* BEGIN：小三角 */
  &-dec-caret {
    position: absolute;
    border: $card-caret-width solid $card-caret-bg;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    &.caret-top-left {
      top: $card-caret-offset;
      left: $card-caret-offset;
      transform: rotate(45deg);
    }
    &.caret-top-right {
      top: $card-caret-offset;
      right: $card-caret-offset;
      transform: rotate(135deg);
    }
    &.caret-bottom-left {
      bottom: $card-caret-offset;
      left: $card-caret-offset;
      transform: rotate(-45deg);
    }
    &.caret-bottom-right {
      bottom: $card-caret-offset;
      right: $card-caret-offset;
      transform: rotate(-135deg);
    }
  }
  /* END：小三角 */
  &-region {
    /* BEGIN：设置支队和街道的宽度 */
    &-col-4 {
      padding-right: 8px;
      width: 40%;
    }
    &-col-6 {
      position: relative;
      width: 60%;
      padding-top: 4px;
      &::before {
        position: absolute;
        top: -4px;
        left: 15px;
        content: ' ';
        width: 46px;
        border: 4px solid $active-bg;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
      }
      #{$prefix}-region-sub-detail-panel {
        position: relative;
        height: 100%;
        background: $card-content-wrap-bg;
        padding: 20px 10px 20px 15px;
        border-radius: 5px;
      }
    }
    /* END：设置支队和街道的宽度 */
    &-scroll {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
    /* BEGIN：区域选择框 */
    &-dropdown {
      position: relative;
      display: inline-block;
      width: $header-dropdown-width;
      vertical-align: -20%;
    }
    &-rel {
      line-height: $header-dropdown-rel-height - 2;
      border: 1px solid #515151;
      font-size: $header-dropdown-rel-size;
      text-align: center;
      cursor: pointer;
    }
    /* BEGIN：点击后显示内容 */
    &-list {
      // display: none;
      position: absolute;
      z-index: 1000;
      top: $header-dropdown-rel-height + 10;
      width: 100%;
      height: $header-dropdown-list-height;
      border: 1px solid $card-border-color;
      padding: 15px;
      box-shadow: $card-shadow;
      background: $card-bg;
      &-item {
        line-height: $header-dropdown-list-item-height - 2;
        padding: 0 10px;
        margin-bottom: 5px;
        border: 1px solid $border-color;
        background: $card-head-bg;
        border-radius: 3px;
        font-size: $font-size;
        text-align: left;
        cursor: pointer;
        &:hover,
        &.active {
          background: $header-dropdown-active-bg;
          border-color: $header-dropdown-active-bg;
          color: $active-color;
        }
      }
    }
    /* 总队 */
    &-top {
      position: relative;
      z-index: 10;
      width: 100%;
      line-height: 40px;
      margin-bottom: 10px;
      border-color: #ccc;
      font-size: 13px;
      color: #FFF;
    }
    /* 支队 & 街道 */
    &-sub {
      height: 100%;
      margin-top: -40-2-10px;
      padding-top: 40+2+10px;
      >*{
        float: left;
        height: 100%;
      }
      /* BEGIN：自定义scrollbar */
      ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
      ::-webkit-scrollbar-track {
        width: 20px;
        background: transparent;
      }
      ::-webkit-scrollbar-thumb {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background: #666;
      }
      /* END：自定义scrollbar */
      &-branch,
      &-detail {
        padding-right: 10px !important;
      }
      &-detail {
        padding-left: 5px;
      }
    }
    /* END：点击后显示内容 */
  }
  /* END：区域选择框 */
  /* BEGIN：顶部导航菜单 */
  &-nav {
    float: right;
    margin-right: $header-nav-item-margin*2;
    font-size: 0;
    a {
      display: inline-block;
      vertical-align: middle;
      // height: $header-nav-item-height;
      line-height: $header-nav-item-height - 2;
      padding: 0 $header-nav-item-paddingH;
      margin-right: $header-nav-item-margin;
      border: 1px solid transparent;
      font-size: $header-nav-item-size;
      color: #FFF;
      &:hover {
        border-color: $active-color;
      }
      &.active {
        border-color: $active-bg;
        background: $active-bg;
      }
    }
  }
  /* END：顶部导航菜单 */
  /* END：页面顶部 */

  /* 页面主体内容 */
  &-body {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    &>section {
      position: absolute;
      z-index: -100;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    #{$prefix}-map {
      width: 100%;
      height: 100%;
    }
    #{$prefix}-card {
      width: 100%;
      padding: 10px;
      margin-bottom: 8px;
      border: 1px solid $card-border-color;
      box-shadow: $card-shadow;
      background: $card-bg;
      border-radius: 3px;
      input[type="checkbox"] {
        margin: 0 4px 0 5px;
        vertical-align: -3px;
      }
      &#{$prefix}-card-no-content {
        padding: 0;
        margin-bottom: 8px;
        border: 0;
        border-radius: 0;
        background: transparent;
        #{$prefix}-card-head {
          width: 100%;
          height: 36px;
          line-height: 34px;
        }
      }
      &-head {
        width: $card-head-width;
        height: $card-head-height;
        padding: 0 10px;
        line-height: $card-head-height - 2;
        border: 1px solid $border-color;
        font-size: $card-title-size;
        background: $card-head-bg;
        border-radius: 3px;
        &-yellow {
          color: $card-title-yellow;
        }
        &-white {
          color: $card-title-white;
        }
        &-icon {
          width: 16px;
          height: 14px;
          margin-right: 10px;
          font-size: 0;
          vertical-align: -2px;
        }
        &-checkall {
          margin-left: 20px;
          font-size: $font-size;
          color: $color;
        }
        &-search {
          margin-left: 10px;
          font-size: 0;
          input {
            width: 225px;
            padding: 5px 8px;
            margin-top: -3px;
            border: 1px solid $card-border-color;
            background: transparent;
            border-radius: 3px;
            color: $color;
          }
          span {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: 10px;
            vertical-align: -3px;
            background: url("../images/search-btn.png") center center no-repeat;
            cursor: pointer;
            &:hover {
              background-image: url("../images/search-btn-hover.png");
            }
          }
        }
      }
      &-body {
        #{$prefix}-card-content-wrap {
          position: relative;
          background: $card-content-wrap-bg;
          padding: 10px;
          margin-top: 10px;
          border-radius: 4px;
          &::before {
            position: absolute;
            top: -8px;
            left: 15px;
            content: ' ';
            width: 46px;
            border: 4px solid $active-bg;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
          }
          &.building-card-vertical-dec {
            &::before {
              top: 0;
              left: auto;
              right: -46px;
              transform-origin: left bottom;
              transform: rotate(90deg);
            }
          }
        }
        #{$prefix}-card-content {
          border: 1px solid $border-color;
          background: $card-content-bg;
          border-radius: 3px;
          /* 对象分布总计样式 */
          &-row {
            display: flex;
            flex-wrap: wrap;
          }
          &-row:not(:last-child) {
            margin-bottom: 20px;
          }
          &-col-3 {
            width: percentage(1 / 3);
            text-align: right;
          }
          &.building-card-content-table {
            padding: 15px;
          }
          &.building-card-content-chart {
            .building-pie {
              width: 100%;
              height: 190px;
            }
          }
          &.building-card-content-form {
            padding: 10px;
            #{$prefix}-card-content-row:not(:last-child) {
              margin-bottom: 15px;
            }
            #{$prefix}-card-content-col-3 {
              line-height: 0;
              text-align: left;
            }
          }
          &-desc {
            margin-top: 6px;
          }

          #{$prefix}-yellow-num {
            color: $card-number-yellow;
            font: {
              size: $card-number-emphsis-size;
              weight: 400;
            }
          }
          #{$prefix}-red-num,
          #{$prefix}-white-num {
            font: {
              size: $card-number-normal-size;
              weight: 300;
            }
          }
          #{$prefix}-red-num {
            color: $card-number-red;
          }
          #{$prefix}-white-num {
            color: $card-number-white;
          }
          #{$prefix}-grey-num {
            font-size: $card-number-extra-size;
          }
        }
      }
    }
  }
  &-slider {
    // display: none !important;
    &-left {
      float: left;
      width: 356px;
      padding: 50px 0;
      margin-left: 5px;
    } 
    &-right {
      float: right;
      width: 399px;
      padding: 50px 0;
      margin-right: 5px;
      #{$prefix}-card {
        margin-bottom: 4px;
      }
    }
    &-bottom {
      position: fixed;
      right: 8px;
      bottom: 1px;
      height: $fixed-card-height;
      &::before {
        content: " ";
        display: table;
        clear: both;
      }
      .building-card {
        float: left;
        border: 0;
        margin-bottom: 0;
        &:first-child {
          width: 760px;
          margin-right: 8px;
        }
        &:last-child {
          width: 640px;
        }
      }
      form.building-card-head-search {
        float: right;
        position: relative;
        top: -$card-head-height;
        line-height: $card-head-height;
        label {
          font-size: 14px;
          color: $color;
          margin-right: 20px;
        }
        select {
          width: 100px;
          margin-left: 10px;
          padding: 3px 0;
        }
        span {
          margin-left: 0;
        }
      }
      .building-card-content-chart {
        height: $fixed-card-height - $card-head-height - 20 - 10 - 22;
      }
    }
  }

  /* BEGIN:重大隐患变化对比 */
  &-hidden-danger-change {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 436px;
    padding: 0 8px;
    border: 1px solid $border-color;
    background: $card-bg;
    border-radius: 3px;

    #{$prefix}-change-title {
      position: relative;
      padding-left: 20px;
      line-height: 37px;
      font-size: 16px;
      &::before {
        content: ' ';
        position: absolute;
        left: 0;
        width: 13px;
        height: 37px;
        background: url("../images/building-fire.png") center center no-repeat;
      }
    }
    #{$prefix}-change-table {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 10px;
      border: 1px solid $card-border-color;
      color: #fff;
      overflow: hidden;
    }
    #{$prefix}-change-item {
      width: percentage(1/4);
      border-right: 1px solid $card-border-color;
      &:last-child {
        border-right: 0;
      }
      &.danger-existed {
        #{$prefix}-change-overview {
          background: #FF4500;
        }
      }
      &.danger-solved {
        #{$prefix}-change-overview {
          background: #808000;
        }
      }
      &.danger-left {
        #{$prefix}-change-overview {
          background: #666666;
        }
      }
      &.danger-timeout {
        #{$prefix}-change-overview {
          background: #ED6F00;
        }
      }
      #{$prefix}-change-overview {
        padding: 10px 0 12px;
        text-align: center;
        #{$prefix}-change-item-name {

        }
        #{$prefix}-change-item-num {
          font-size: $card-number-emphsis-size;
        }
      }
      #{$prefix}-change-comparison {
        padding: 15px 15px 0;
        &>*{
          position: relative;
          margin-bottom: 9px;
          color: $color;
          &::after {
            content: '↓';
            position: absolute;
            right: 10px;
            top: 0;
            font-size: 24px;
          }
          #{$prefix}-change-percentage {
            margin-bottom: 2px;
            font-size: 18px;
            color: #fff;
          }
        }
        #{$prefix}-change-YoY {
          
        }
        #{$prefix}-change-YoY {

        }
      }
    }
  }
  /* END:重大隐患变化对比 */
}