@charset "UTF-8";

/* 外层容器：.building-card */
@mixin basic-card-container ($width: 100%, $border-width: 1px, $border-color: $card-border-color) { 
  width: $width;
  padding: 10px;
  border: $border-width solid $border-color;
  box-shadow: $card-shadow;
  background: $card-bg;
  border-radius: 3px;
}
/* 标题栏: .building-card-head  标题+ICON */
@mixin card-head ($width: $card-head-width) {
  width: $width;
  height: $card-head-height;
  line-height: $card-head-height - 2;
  padding: 0 10px;
  border: 1px solid $border-color;
  font-size: $card-title-size;
  background: $card-head-bg;
  border-radius: 3px;
  color: #fff;

  #{$prefix}-card-head-icon {
    width: 16px;
    height: 14px;
    margin-right: 10px;
    font-size: 0;
    vertical-align: -2px;
  }
}

/* 数字样式 */
@mixin num-font ($color, $size: $font-size, $weight: normal ) {
  color: $color;
  font: {
    size: $size;
    weight: $weight;
    family: "fpcFont";
  }
}
/* 红色装饰色块 */
@mixin red-square ($width: 46px, $border-width: 4px) {
  .building-horizontal-dec {
    position: relative;
    &::before {
      position: absolute;
      top: -$border-width*2;
      left: 15px;
      content: ' ';
      width: $width;
      border: $border-width solid $active-bg;
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
    }
  }
  .building-vertical-dec {
    @extend .building-horizontal-dec;
    &::before{
      top: 0;
      left: auto;
      right: -$width;
      transform-origin: left bottom;
      transform: rotate(90deg);
    }
  }
  .building-left-vertical-dec {
    @extend .building-vertical-dec;
    &::before {
      top: $width;
      left: 0;
      right: auto;
      transform: rotate(-90deg);
    }
  }
}

/* img */
@mixin fire-img() {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid $border-color;
  border-radius: 4px;
}

@mixin close-btn($top: 11px, $right: 11px) {
  .building-window-close {
    position: absolute;
    z-index: 10;
    top: $top;
    right: $right;
    width: 32px;
    line-height: 32px;
    font: {
      size: 24px;
    }
    color: #fff;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: $active-bg;
    }
  }
}

/* scroll-bar */
@mixin scroll-bar($width: 5px, $bg: #999) {
  &::-webkit-scrollbar {
    width: $width !important;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: $width/2 !important;
    background: $bg !important;
  }
}

/* circle-line */
// 检查监督-检查记录&隐患整改通用，时间轴。
@mixin circle-line() {
  position: relative;
  padding: $rectified-list-padding;
  &::before {
    position: absolute;
    width: 1px;
    top: $rectified-list-padding + $rectified-list-circle-radius;
    bottom: $rectified-list-padding;
    content: ' ';
    background: #ccc;
  }
}
@mixin circle() {
  position: relative;
  padding-left: $rectified-list-circle-radius + 3;
  &::before {
    position: absolute;
    top: $rectified-item-name-height/2 - $rectified-list-circle-radius;
    left: -$rectified-list-circle-radius;
    content: ' ';
    width: $rectified-list-circle-radius *2;
    height: $rectified-list-circle-radius *2;
    border: 1px solid #fff;
    border-radius: $rectified-list-circle-radius;
    background: #FF0000;
  }
  &.green {
    &::before {
      background: #7FB80E;
    }
  }
  &.darkgreen {
    &::before {
      background: #008000;
    }
  }
  &.red {
    &::before {
      background: #FF0000;
    }
  }
  &.blue {
    &::before {
      background: #0066FF;
    }
  }
}

@mixin circle-text() {
  padding: 0 5px;
  line-height: $rectified-item-name-height;
  border: 1px solid $rectified-darker-border;
  background: $card-content-bg;
  font-weight: normal;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &.active,
  &:hover {
    background: #C24630;
    border-color: #C24630;
  }
}