@charset "utf-8";

$prefix: ".building";
$color: #CCC;
$active-color: #FFF;
$border-color: #797979;   //454545
$shadow-color: #666;
$active-bg: #FF0000; //导航栏&滑出按钮&提出内容装饰边框
$font-size: 12px;

$grid: 12;  // 按一行12列布局
@function grid-width($n) {
  @return percentage($n / $grid);
}

$header-height: 60px;
$header-bg: #333333;
$header-logo-size: 24px;

$header-dropdown-width: 457px;
$header-dropdown-rel-height: 34px;
$header-dropdown-rel-size: 18px;
$header-dropdown-list-height: 600px;
$header-dropdown-list-item-height: 32px;
$header-dropdown-active-bg: #DB4527;

$header-nav-item-height: 28px;
$header-nav-item-margin: 15px;
$header-nav-item-paddingH: 12px;
$header-nav-item-size: 14px;

$slider-btn-bg: #252525;
$slider-transform: 500px;

$card-shadow: 2px 2px 5px 0px $shadow-color;
$card-bg: rgba(0, 0, 0, .7);
$card-border-color: #999;
$card-head-width: 296px;
$card-head-height: 32px;
$card-head-bg: #454545;
$card-content-wrap-bg: #4E4E4D;
$card-content-bg: #454545;
$card-caret-bg: #CCC;
$card-caret-offset: 0px;
$card-caret-width: 4px;

$card-title-yellow: #FFFF00;
$card-title-white: #FFF;
$card-title-size: 14px;
$card-title-extra-size: 18px;  //年份、数量等

$card-content-text-size: 12px;
$card-number-yellow: #FFCC00;
$card-number-emphsis-size: 28px;
$card-number-red: #FF4500;
$card-number-white: #FFF;
$card-number-normal-size: 24px;
$card-number-extra-size: 16px;

$fixed-card-height: 274px;

/* 火灾分析详情 */
$fire-window-width: 890px;
$fire-window-height: 600px;
$fire-detail-border-color: #666;
//从下往上，第一层背景为card容器背景
$fire-second-bg: #484848;
$fire-third-bg: #5D5D5D;
$fire-content-bg: #454545;
$fire-gutter: 10px;

$fire-img-item-height: 100px;
$fire-img-item-marginB: 4px;

/* 检查监督--建筑统计数据 */
$statistic-window-width: 530px;
$statistic-circle-radius: 13px;

/* 检查监督--建筑档案 */
$record-window-width: 530px;
$record-label-width: 140px;

/* 检查监督--隐患整改记录 */
$rectified-window-width: 730px;
$rectified-list-padding: 20px; //时间轴区域的内边距
$rectified-list-circle-radius: 8px;
$rectified-darker-border: #666;