@charset 'utf-8';

$prefix: '.building';
$color: #ccc;
$active-color: #fff;
$border-color: #515151;
$active-bg: #FF0000; 


$header-bg: #333333;
$header-dropdown-active-bg: #DB4527;


$card-title-yellow: #FFFF00;
$card-title-white: #fff;